<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
    This Splurty was built by <a target="_blank" href="http://twitter.com/zgabriel">Zavo</a>, who used to be good at this stuff back in the day, and for now is minimally competent when following a web tutorial.
	</p>
	<br />
	<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
	</p>
	
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'wrench.jpg', :class => 'img-responsive' %>
	</div>
	
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h1 class="text-center">Zavo</h1>
		<br />
		<p>
			Zavo is holding a really big wrench.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />